@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Montserrat:wght@300;400;600&display=swap');

:root{
    --fonte-titulo: 'Playfair Display', serif;
    --fonte-texto: 'Montserrat', sans-serif;

    /* Variáveis, paletas  de Cores */
    --azul-celeste: #1f3b73;
    --dourado: #d4af37;
    --branco: #ffffff;
    --cinza-suave: #f7f7f7;
    --preto-transp: rgba(0,0,0,0.45);
}
/*Configurações gerais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--cinza-suave);
    font-family: var(--fonte-texto);
    color: #222;
}

/* Cabeçalho principal*/
header{
    background: linear-gradient(to bottom, var(--azul-celeste), #0f1d38);
    color: var(--branco);
    text-align: center;
    padding: 60px 20px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.35);
}

header h1{
    font-size: 5vw;
    font-family: var(--fonte-titulo);
    letter-spacing: 3px;
    text-transform: uppercase;
}

header p a{
    color: var(--dourado);
    font-weight: bold;
    text-decoration: none;
}
header p a:hover{
    text-decoration: underline;
}

/* SEÇÕES */
section{
    padding: 10vh 30px;
    line-height: 2;
    font-size: 2.6vh;
}

section.normal{
    background-color: var(--branco);
    color: #222;
}

section.imagem{
    color: var(--branco);
    background-size: cover;
    background-position: center ;
    background-attachment: fixed;
    position: relative;
}



section.imagem p{
    background-color: var(--preto-transp);
    display: inline-block;
    padding: 12px 18px;
    backdrop-filter: blur(2px);
    border-left: 4px solid var(--dourado);
    font-size: 2.7vh;
    box-shadow: 0 3px 6px rgba(0,0,0,0.45);
}

/* Área das fotos */
section#foto1{
    background-image: url('../imagens/foto1.jpg');
}
section#foto2{
    background-image: url('../imagens/foto2.jpg');
}
section#foto3{
    background-image: url('../imagens/foto3.jpg');
}

/* Rodapé */
footer{
    background: #0f1d38;
    text-align: center;
    padding: 15px;
    color: var(--branco);
    border-top: 2px solid var(--dourado);
}

footer a{
    color: var(--dourado);
    font-weight: bold;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
